.section{
    font-size: 62.5%;
    background-image: linear-gradient(#fff, #ff825d);
}

@media only screen and (max-width: 1200px) {
    .section{
        font-size: 55%;
    }
}

@media only screen and (max-width: 992px) {
    .section{
        font-size: 45%;
    }
}

.About-container{
    background-image:url("./images/bg-img.JPG");
    background-size: cover;
    color: #fff;
    position: relative;
    height: 60rem;
}

.seperator-skew4{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 5.65rem;
    overflow: hidden;
    background-image:url("/images/bg-img.jpeg");
    background-size: cover;
}

.seperator-skew4 svg .fill-white {
    fill: #000;
}

.aboutHeading{
    display: flex;
    justify-content: left;
    align-items: left;
    padding-top: 2rem;
    font-weight: 400;
    margin-left: 3.5%;
}

.abouthead1{
   color: #000;
   display: inline;
   justify-content: center;
   align-items: center;
   clear: none;
   font-size: 3rem;
   margin-left: 10%;
}

.abouthead2{
    color: #fff;
    display: inline;
    justify-content: center;
    align-items: center;
    clear: none;
    font-size: 3rem;
}

.aboutBlock{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3.5rem 5rem 5rem 0;
    height: 38rem;
    width: 80%;
    margin: 2.5% auto 0;
    background-color: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.aboutBlock:hover{
    transform: scale(1.01);
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
}

.myImage{
    height: 75%;
    width: 50%;
}

.myImage:hover{
    transform: scale(1.1);
}

.introbox{
    color: #232323;
    background-color: transparent;
    top: 10%;
    padding-left: 2rem;
    font-size: 1.2rem;
}

@media only screen and (max-width: 768px) {
    .abouthead1, .abouthead2{
        font-size: 2rem;
        margin-left: 5%;
    }
    .aboutBlock{
        height: auto;
        flex-direction: column;
        border-radius: 1.5rem;
        width: 90%;
        margin-top: 5%;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    }
    .myImage{
        height: 50%;
        width: 100%;
    }
    .introbox{
        font-size: 1rem;
    }
}
