.project-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: minmax(300px, auto);
  gap: 30px;
  padding: 5%;
}

.project-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  overflow: hidden;
  transition: transform 0.5s ease-in-out;
  transform: scale(1);
  text-align: center;
  height: 60vh;
}

.project-box:hover {
  transform: scale(1.1);
}

.project-logo {
  width: 90%;
  max-height: 250px;
  object-fit: contain;
}

.right-box {
  margin-top: 20px;
}

.tech-logos {
  display: flex;
  align-items: center;
  margin-top: 20px;
  justify-content: center;
}

.tech-logos h3 {
  margin-right: 10px;
  font-size: 16px;
  font-weight: normal;
  color: #777;
}

.tech-logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

@media only screen and (max-width: 768px) {
  .project-container {
    grid-template-columns: 1fr;
    padding: 0;
    gap: 20px;
  }
  
  .project-box {
    padding: 20px;
  }
  

  
  .tech-logos h3 {
    font-size: 14px;
  }
  
  .tech-logo {
    width: 30px;
    height: 30px;
    margin-right: 5px;
  }
}
